002 - Python/002-1 - DEV/Dev Murillo/N8N/Migração GScripts - Cruces Financeiros_V6.json
{
  "name": "Migração GScripts - Cruces Financeiros",
  "nodes": [
    {
      "parameters": {},
      "id": "d1f2bf52-c478-40c0-ab29-c2543cb2a33a",
      "name": "Limit to 1 item",
      "type": "n8n-nodes-base.limit",
      "position": [
        336,
        816
      ],
      "typeVersion": 1,
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "5ce059ea-a2a3-4cd8-8ca5-ee7fe3102746",
      "name": "Agendamento (7h)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -320,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "=ddme000426-gopr4nla6zo-furyid"
        },
        "sqlQuery": "\nCREATE OR REPLACE TABLE `ddme000426-gopr4nla6zo-furyid.STG.tb_resultado_validacao_cruces` AS\n\nWITH base_sheet AS (\n    SELECT \n      -- Adicionei DISTINCT para evitar que duplicidade de carga (linhas identicas) \n      -- acione a Flag 6 indevidamente\n      DISTINCT\n      id_de_deuda_indique_a_qu_id_de_deuda_corresponde_esta_transferencia AS id_deuda,\n      SAFE_CAST(REPLACE(monto_total, ',', '.') AS FLOAT64) AS monto_transferido,\n      -- Garante que tipo_conta nunca seja nulo para não quebrar o LIKE depois\n      IFNULL(LOWER(cul_es_el_tipo_de_cuenta), '') AS tipo_conta, \n      TRIM(cbu_22_dgitos) AS cbu_informado,\n      issue_en_salesforce as issue_salesforce\n    FROM\n      `ddme000426-gopr4nla6zo-furyid.STG.tb_carga_integridade`\n  ),\n\n  base_sheet_com_contagem AS (\n    SELECT\n      *,\n      -- Movemos a contagem para cá, após o DISTINCT\n      COUNT(*) OVER (\n        PARTITION BY id_deuda, SAFE_CAST(monto_transferido AS NUMERIC)\n      ) as qtd_ocorrencias\n    FROM base_sheet\n  ),\n\n  base_bq AS (\n    SELECT\n      CAST(DEBT_ID AS INT64) AS DEBT_ID,\n      DEBT_PAID_AMOUNT,\n      DEBT_STATUS_DETAIL,\n      DEBT_DEBT_TYPE_ID \n    FROM `meli-bi-data.WHOWNER.BT_MP_DISB_DEBT`\n    WHERE DEBT_DEBT_TYPE_ID IN (442, 77, 459, 437) \n    -- DICA: Se houver risco de duplicidade no BQ, descomente a linha abaixo:\n    -- QUALIFY ROW_NUMBER() OVER(PARTITION BY DEBT_ID ORDER BY DEBT_PAID_AMOUNT DESC) = 1\n  ),\n\n  JOINED_DATA AS (\n    SELECT \n      sheet.id_deuda,\n      sheet.monto_transferido,\n      bq.DEBT_PAID_AMOUNT,\n      sheet.cbu_informado,\n      sheet.issue_salesforce,\n      sheet.tipo_conta,\n      sheet.qtd_ocorrencias,         \n      bq.DEBT_DEBT_TYPE_ID,\n      bq.DEBT_STATUS_DETAIL,\n      bq.DEBT_ID AS bq_id_check\n    FROM base_sheet_com_contagem sheet\n    LEFT JOIN base_bq bq ON CAST(sheet.id_deuda as STRING) = CAST(bq.DEBT_ID AS STRING)\n  ),\n\n  CALC_FLAGS AS (\n    SELECT \n      *,\n      CURRENT_TIMESTAMP() as data_execucao,\n      (IFNULL(monto_transferido, 0) - IFNULL(DEBT_PAID_AMOUNT, 0)) as diferenca,\n\n      -- ======================================================================\n      -- DEFINIÇÃO DAS FLAGS (BLINDAGEM CONTRA NULL)\n      -- Usamos COALESCE(..., FALSE) para garantir booleano puro\n      -- ======================================================================\n\n      -- CRUCE 2: ID inexistente\n      COALESCE(bq_id_check IS NULL, FALSE) AS flag_cruce_2_id_inexistente,\n\n      -- DATA SUJA: Valor nulo\n      COALESCE(monto_transferido IS NULL, FALSE) AS flag_data_suja,\n\n      -- CRUCE 6: Duplicidade (Agora baseada na contagem pós-distinct)\n      COALESCE(qtd_ocorrencias > 1, FALSE) AS flag_cruce_6_duplicado,\n\n      -- CRUCE 5: CBU Inválido\n      COALESCE(cbu_informado IS NOT NULL AND NOT REGEXP_CONTAINS(cbu_informado, r'^[0-9]{22}$'), FALSE) AS flag_cruce_5_cbu_invalido,\n\n      -- CRUCE 7: Tipo de Dívida Incorreto\n      -- Como usamos IFNULL no tipo_conta lá em cima, o LIKE não vai retornar NULL\n      COALESCE(bq_id_check IS NOT NULL AND (\n          (tipo_conta LIKE '%no remun%' AND DEBT_DEBT_TYPE_ID NOT IN (77, 437, 459))\n          OR\n          (tipo_conta NOT LIKE '%no remun%' AND tipo_conta LIKE '%remun%' AND DEBT_DEBT_TYPE_ID != 442)\n      ), FALSE) AS flag_cruce_7_debt_type,\n\n      -- CRUCE 1: Valor Planilha > Banco\n      COALESCE(bq_id_check IS NOT NULL AND monto_transferido IS NOT NULL AND TRUNC(monto_transferido) > TRUNC(DEBT_PAID_AMOUNT), FALSE) AS flag_cruce_1_valor_maior,\n\n      -- CRUCE 4: Valor Planilha < Banco\n      COALESCE(bq_id_check IS NOT NULL AND monto_transferido IS NOT NULL AND TRUNC(monto_transferido) < TRUNC(DEBT_PAID_AMOUNT), FALSE) AS flag_cruce_4_valor_menor,\n\n      -- CRUCE 3: Status inválido\n      COALESCE(bq_id_check IS NOT NULL \n       AND (tipo_conta LIKE '%remun%') \n       AND (DEBT_STATUS_DETAIL NOT IN ('executed', 'partially_executed','awaiting_confirmation')) \n       AND (DEBT_DEBT_TYPE_ID = 442), FALSE\n      ) AS flag_cruce_3_status_invalido\n\n    FROM JOINED_DATA\n  )\n\nSELECT \n  id_deuda,\n  data_execucao,\n  monto_transferido,\n  DEBT_PAID_AMOUNT,\n  diferenca,\n  cbu_informado,\n  issue_salesforce,\n  tipo_conta,\n  DEBT_DEBT_TYPE_ID,\n\n  flag_cruce_1_valor_maior,\n  flag_cruce_2_id_inexistente,\n  flag_cruce_3_status_invalido,\n  flag_cruce_4_valor_menor,\n  flag_cruce_5_cbu_invalido,\n  flag_cruce_6_duplicado,\n  flag_cruce_7_debt_type,\n  flag_data_suja,\n\n  CASE \n    WHEN flag_cruce_1_valor_maior OR flag_cruce_2_id_inexistente OR flag_cruce_3_status_invalido OR \n         flag_cruce_4_valor_menor OR flag_cruce_5_cbu_invalido OR flag_cruce_6_duplicado OR \n         flag_cruce_7_debt_type OR flag_data_suja \n    THEN 'COM_ERRO'\n    ELSE 'OK'\n  END AS status_geral\n\nFROM CALC_FLAGS",
        "options": {}
      },
      "id": "23c35950-5737-462d-9e00-448b3baa445b",
      "name": "Executar Cruces (Query)1",
      "type": "n8n-nodes-base.googleBigQuery",
      "position": [
        1024,
        432
      ],
      "executeOnce": true,
      "typeVersion": 2,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "YCWVcI8UePnVEDIN",
          "name": "Google account vEpH-kQwGtOA0RpfF"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1hrKq2U9y7LuTZqiIpmizk4j72FTyweZcnZShawPDhgY/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hrKq2U9y7LuTZqiIpmizk4j72FTyweZcnZShawPDhgY/edit#gid=0",
          "cachedResultName": "base de solicitações"
        },
        "options": {}
      },
      "id": "932c9ae5-dcba-4e03-8821-20e2b6451fe7",
      "name": "Get row(s) in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -96,
        576
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "YCWVcI8UePnVEDIN",
          "name": "Google account vEpH-kQwGtOA0RpfF"
        }
      }
    },
    {
      "parameters": {
        "pythonCode": "import re\nfrom datetime import datetime\n\n# ============================================================\n# VERSÃO OTIMIZADA - Processa todos os items de uma vez sem loop\n# ============================================================\n\n# Configuração\ncolunas_float = [\n    \"monto_total\",\n    \"transferido_remunerado\",\n    \"transferido_no_remunerado\",\n    \"issue_monto\"\n]\ncoluna_data = \"carimbo_de_datahora\"\n\n# Funções auxiliares (compiladas uma vez para melhor performance)\n_regex_limpeza = re.compile(r'[^a-zA-Z0-9\\s_]')\n_regex_espacos = re.compile(r'[\\s_]+')\n\n\ndef limpar_cabecalho(texto):\n    \"\"\"Limpa cabeçalho removendo caracteres especiais e normalizando.\"\"\"\n    if not texto:\n        return \"coluna_vazia\"\n    texto_str = str(texto)\n    limpo = _regex_limpeza.sub('', texto_str)\n    limpo = _regex_espacos.sub('_', limpo)\n    return limpo.strip('_').lower()\n\n\ndef converter_para_float(valor):\n    \"\"\"Converte valor para float, tratando formatos brasileiros/europeus.\"\"\"\n    if valor is None or valor == \"\":\n        return 0.0\n    if isinstance(valor, (int, float)):\n        return float(valor)\n    \n    valor_str = str(valor).strip().replace('R$', '').replace('$', '').strip()\n    \n    # Formato brasileiro: 1.000,00 -> 1000.00\n    if ',' in valor_str and '.' in valor_str:\n        valor_str = valor_str.replace('.', '').replace(',', '.')\n    elif ',' in valor_str:\n        valor_str = valor_str.replace(',', '.')\n    \n    try:\n        return float(valor_str)\n    except (ValueError, TypeError):\n        return 0.0\n\n\ndef converter_data(valor):\n    \"\"\"Converte data de DD/MM/YYYY HH:MM:SS para YYYY-MM-DD HH:MM:SS.\"\"\"\n    if not valor:\n        return None\n    valor_str = str(valor).strip()\n    \n    formatos = ['%d/%m/%Y %H:%M:%S', '%d/%m/%Y']\n    for fmt in formatos:\n        try:\n            dt_obj = datetime.strptime(valor_str, fmt)\n            return dt_obj.strftime('%Y-%m-%d %H:%M:%S' if ':' in fmt else '%Y-%m-%d')\n        except ValueError:\n            continue\n    return None\n\n\ndef processar_item(item):\n    \"\"\"Processa um único item, retornando o JSON limpo.\"\"\"\n    linha_original = item.get('json', {})\n    linha_limpa = {}\n    \n    for chave, valor in linha_original.items():\n        nova_chave = limpar_cabecalho(chave)\n        \n        if nova_chave == coluna_data:\n            linha_limpa[nova_chave] = converter_data(valor)\n        elif nova_chave in colunas_float:\n            linha_limpa[nova_chave] = converter_para_float(valor)\n        else:\n            linha_limpa[nova_chave] = str(valor) if valor is not None else \"\"\n    \n    return linha_limpa\n\n\n# ============================================================\n# PROCESSAMENTO EM LOTE (TODOS OS ITEMS DE UMA VEZ)\n# ============================================================\n\n# Processa todos os items de uma vez (otimizado)\nfor item in items:\n    item['json'] = processar_item(item)\n\nreturn items"
      },
      "id": "c6863231-519c-418b-a4b5-e672c2547ec0",
      "name": "VerdiCode1",
      "type": "n8n-nodes-base.verdiCode",
      "position": [
        240,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "ddme000426-gopr4nla6zo-furyid"
        },
        "sqlQuery": "CREATE OR REPLACE TABLE `ddme000426-gopr4nla6zo-furyid.STG.tb_carga_integridade` (\n  carimbo_de_datahora STRING,\n  endereco_de_email STRING,\n  fecha_de_solicitud_de_transferencia STRING,\n  issue_en_salesforce STRING,\n  n_de_expediente STRING,\n  cartula_de_la_causa STRING,\n  monto_total STRING,\n  id_de_deuda_indique_a_qu_id_de_deuda_corresponde_esta_transferencia STRING,\n  cul_es_el_tipo_de_cuenta STRING,\n  cbu_22_dgitos STRING,\n  banco_de_destino STRING,\n  cuit_del_banco_que_recibe STRING,\n  n_de_cuenta STRING,\n  sociedad STRING,\n  transferido_remunerado STRING,\n  transferido_no_remunerado STRING,\n  issue_monto STRING,\n  enviado_a_finanzas STRING\n);",
        "options": {}
      },
      "id": "23af3d8f-3180-449a-82bc-f10b32960d3f",
      "name": "Execute a SQL query2",
      "type": "n8n-nodes-base.googleBigQuery",
      "position": [
        -96,
        384
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 2.1,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "YCWVcI8UePnVEDIN",
          "name": "Google account vEpH-kQwGtOA0RpfF"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "carimbo_de_datahora, endereo_de_email, fecha_de_solicitud_de_transferencia, fecha_de_solicitud_de_transferencia, issue_en_salesforce, n_de_expediente, cartula_de_la_causa, monto_total, id_de_deuda_indique_a_qu_id_de_deuda_corresponde_esta_transferencia, cul_es_el_tipo_de_cuenta, cbu_22_dgitos, banco_de_destino, cuit_del_banco_que_recibe, n_de_cuenta, sociedad, transferido_remunerado, transferido_no_remunerado, issue_monto, enviado_a_finanzas",
        "options": {}
      },
      "id": "986bdf36-dd73-4f36-8f0b-93eaca54af6a",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        352,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 90
      },
      "id": "bffd3049-fb28-45dd-90e0-33ab9bbdcddb",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        576,
        432
      ],
      "webhookId": "b326ef50-bde8-46d5-99a1-8067cc773656",
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "ddme000426-gopr4nla6zo-furyid"
        },
        "sqlQuery": "TRUNCATE TABLE `ddme000426-gopr4nla6zo-furyid.STG.tb_carga_integridade`",
        "options": {}
      },
      "id": "e0ffc355-c41d-4462-917b-fb80859dbcc2",
      "name": "Execute a SQL query3",
      "type": "n8n-nodes-base.googleBigQuery",
      "position": [
        128,
        384
      ],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 2.1,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "YCWVcI8UePnVEDIN",
          "name": "Google account vEpH-kQwGtOA0RpfF"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "ddme000426-gopr4nla6zo-furyid"
        },
        "datasetId": {
          "__rl": true,
          "mode": "id",
          "value": "STG"
        },
        "tableId": {
          "__rl": true,
          "mode": "id",
          "value": "tb_carga_integridade"
        },
        "dataMode": "define",
        "fieldsUi": {
          "values": [
            {
              "fieldId": "carimbo_de_datahora",
              "fieldValue": "={{ $json.carimbo_de_datahora }}"
            },
            {
              "fieldId": "endereco_de_email",
              "fieldValue": "={{ $json.endereo_de_email }}"
            },
            {
              "fieldId": "fecha_de_solicitud_de_transferencia",
              "fieldValue": "={{ $json.fecha_de_solicitud_de_transferencia }}"
            },
            {
              "fieldId": "issue_en_salesforce",
              "fieldValue": "={{ $json.issue_en_salesforce }}"
            },
            {
              "fieldId": "n_de_expediente",
              "fieldValue": "={{ $json.n_de_expediente }}"
            },
            {
              "fieldId": "cartula_de_la_causa",
              "fieldValue": "={{ $json.cartula_de_la_causa }}"
            },
            {
              "fieldId": "monto_total",
              "fieldValue": "={{ $json.monto_total }}"
            },
            {
              "fieldId": "id_de_deuda_indique_a_qu_id_de_deuda_corresponde_esta_transferencia",
              "fieldValue": "={{ $json.id_de_deuda_indique_a_qu_id_de_deuda_corresponde_esta_transferencia }}"
            },
            {
              "fieldId": "cartula_de_la_causa",
              "fieldValue": "={{ $json.cul_es_el_tipo_de_cuenta }}"
            },
            {
              "fieldId": "cbu_22_dgitos",
              "fieldValue": "={{ $json.cbu_22_dgitos }}"
            },
            {
              "fieldId": "banco_de_destino",
              "fieldValue": "={{ $json.banco_de_destino }}"
            },
            {
              "fieldId": "cuit_del_banco_que_recibe",
              "fieldValue": "={{ $json.cuit_del_banco_que_recibe }}"
            },
            {
              "fieldId": "n_de_cuenta",
              "fieldValue": "={{ $json.n_de_cuenta }}"
            },
            {
              "fieldId": "sociedad",
              "fieldValue": "={{ $json.sociedad }}"
            },
            {
              "fieldId": "transferido_remunerado",
              "fieldValue": "={{ $json.transferido_remunerado }}"
            },
            {
              "fieldId": "transferido_no_remunerado",
              "fieldValue": "={{ $json.transferido_no_remunerado }}"
            },
            {
              "fieldId": "issue_monto",
              "fieldValue": "={{ $json.issue_monto }}"
            },
            {
              "fieldId": "enviado_a_finanzas",
              "fieldValue": "={{ $json.enviado_a_finanzas }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2b28fb5-2b15-4a04-88e4-ad21ea832c4a",
      "name": "Insert rows in a table1",
      "type": "n8n-nodes-base.googleBigQuery",
      "position": [
        800,
        432
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 2.1,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "YCWVcI8UePnVEDIN",
          "name": "Google account vEpH-kQwGtOA0RpfF"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "fb564cc1-0b16-4e6a-929c-473e36ccc6ef",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        -96,
        768
      ],
      "webhookId": "5c9906b4-3248-4e5e-b296-88d47c9e255c",
      "executeOnce": true,
      "retryOnFail": false,
      "typeVersion": 1.1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "spaces/AAQAwbVAd-0",
        "messageUi": {
          "text": "Bonitão, os cruces rodaram!"
        },
        "additionalFields": {}
      },
      "id": "04463476-ae41-494a-a859-68e67ad0df23",
      "name": "Create a message1",
      "type": "n8n-nodes-base.googleChat",
      "position": [
        1008,
        816
      ],
      "webhookId": "368e9cb7-ca93-4835-bdfb-bcc5e122f85d",
      "typeVersion": 1,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "YCWVcI8UePnVEDIN",
          "name": "Google account vEpH-kQwGtOA0RpfF"
        }
      }
    },
    {
      "parameters": {
        "url": "https://script.google.com/a/macros/mercadolivre.com/s/AKfycbwV8zS7w2AW2KITEoSSM9lPu-152ynxNuJKmx3sbKZhvkH3yWA6_f78bUbb2A6Daes/exec",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGenericOAuth2Api",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 100
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b907dc1f-ceec-4b98-bfce-62cc8885e7b7",
      "name": "n8n_GScript_Integridade_Embargos1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        816
      ],
      "executeOnce": true,
      "notesInFlow": true,
      "retryOnFail": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "credentials": {
        "googleGenericOAuth2Api": {
          "id": "YCWVcI8UePnVEDIN",
          "name": "Google account vEpH-kQwGtOA0RpfF"
        }
      },
      "notes": "https://script.google.com/home/projects/1Eez0_shFDsJGbbkqQdmO0oRY6quW_-WP1YywUQA1mG5Rm7uJUy2e27aY/edit"
    },
    {
      "parameters": {},
      "id": "c5a04a8e-b2fd-4bf2-8683-8b12d8e8ba49",
      "name": "Limit to 1 item1",
      "type": "n8n-nodes-base.limit",
      "position": [
        784,
        816
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Wait2": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        []
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerdiCode1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1 item": {
      "main": [
        [
          {
            "node": "n8n_GScript_Integridade_Embargos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 1 item1": {
      "main": [
        [
          {
            "node": "Create a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento (7h)1": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "VerdiCode1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Executar Cruces (Query)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Cruces (Query)1": {
      "main": [
        [
          {
            "node": "Limit to 1 item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n_GScript_Integridade_Embargos1": {
      "main": [
        [
          {
            "node": "Limit to 1 item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d53b80f6-cfd7-4aa0-94b5-01b62a55b359",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08a808bd1fbf06e835e46ca3b91723ca682cf363871bc0b0ff3e27c8603f1ffe"
  },
  "id": "RmR9vUMZX6KNf44r",
  "tags": []
}
