014 - Verdi n8n/Prod/Download FTP CLM.json
{
  "name": "Download FTP CLM",
  "nodes": [
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "/Mercado Libre S.R.L.- CLM/Admin/Run Reports/Data Analitics Legales",
        "recursive": true,
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        672,
        -32
      ],
      "id": "06db7f13-9eb4-4f3a-bc89-4d2d43621e57",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "QWpQUEreZGvVzMBD",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        -32
      ],
      "id": "b61c5482-b154-4fe6-9c98-25c09c31d8d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0,
                1,
                2,
                5,
                3,
                4,
                6
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -32
      ],
      "id": "b270f069-0ae1-4c2f-ac2e-95e3ec812bf3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        1120,
        -32
      ],
      "id": "47f95131-7e5d-43aa-97e2-53401b2446ce",
      "name": "Push de bases",
      "credentials": {
        "sftp": {
          "id": "QWpQUEreZGvVzMBD",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "value": "={{ $('Cria pasta').item.json.id }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        48
      ],
      "id": "ef563ee5-f19c-41b2-9ef3-a404af2d6138",
      "name": "Upload bases",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eqjfBMxIg7iObk1Z",
          "name": "Pessoal | GDrive"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "marcelo.cardoso@mercadolivre.com",
        "subject": "Bases CLM Atualizadas",
        "message": "Bases carregadas",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -224
      ],
      "id": "29b27e3c-1251-47ee-9180-fbfa2df85dad",
      "name": "Envio de email",
      "webhookId": "49406103-2085-4a17-9ad3-a33172a241b0",
      "retryOnFail": false,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "gpFM09fhU2zZ3U74",
          "name": "Pessoal | Gmail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3b6c0da-f526-45a3-9bb5-d1fff5cabc47",
              "name": "Data_Ref",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -32
      ],
      "id": "b47396e6-4c5b-4cba-b39f-1890f428cce6",
      "name": "Set Data"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.Data_Ref }}",
        "driveId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1EKWIpwVxeHEK-vf5LXzGFB-hGiS8qQts",
          "mode": "url"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        -32
      ],
      "id": "b5d3443f-e2fb-4830-9ab5-a51f6c28b4dc",
      "name": "Cria pasta",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eqjfBMxIg7iObk1Z",
          "name": "Pessoal | GDrive"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "FTP": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Envio de email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push de bases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push de bases": {
      "main": [
        [
          {
            "node": "Upload bases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload bases": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Cria pasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ed75d149-bc77-4df4-a28b-26c8afea22cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7f442e0053b1c38790b9e80bddb83427ceb3d2756e8a300a90a9e8e4d95c11f"
  },
  "id": "VkBvXfbBfhMW9BsbNV9hh",
  "tags": []
}